body{
	background: #EEECDE;
	}
a:link{	color: #465B52; text-decoration: none;}
a:visited{	color: #465B52;	}
a:hover{color: #C06601}
a:active,a:focus{color: #C06601;}

.wrp{
	width: auto;
	margin: 1em;
	}

.normal
{
    color: Blue;
    font-weight: bold;
    font-size: 14px;
    background: #FF9933;
    width: 200px;
}

.firstlevel
{
    cursor: pointer;
    color: #465B52;
}
.secondlevel
{
    padding-left: 20px;
    display: none;
}
.tableinfo
{
    text-align: center;
    font-size: 16px;
    color: #465B52;
    font-weight:bold;
    line-height: 2;
    margin: 20px 20px 0 20px;
}
.tbRecords{
	margin: 10px 0;
	table-layout: auto;
	width: auto;
	}
.tbRecords a{
	white-space: nowrap;
	}
#left
{
    width: 120px;
    float: left;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    margin-right: 10px;
    display: inline;
}
#right
{
	overflow: auto;
}
#bottom
{
    width: 1024px;
    height: 100px;
    background-color: #E4FFD3;
    float: left;
}
#menu{
	margin-bottom: 1em;
	}
.nav a.current{
	color: #C06601;
	}

.pages{
	margin: 1em 0;
	}
.pages a[disabled]{
	color: #CCC; text-decoration: none;
	}
.pages a{
	padding: 0 5px;
	}
.pages a:hover{
	background: #FFF;
	}
.pages .cpb{
	background: #C06601;
	padding: 0 5px;
	color: #FFF;
	}

.centralcontent
{
    margin: 30px;
    padding-left: 10px;
}

.needspace
{
    margin-left: 40px;
}

.tabs-container{
	overflow: auto;
	}
.tabs-container .panel{
	overflow: auto;
	}

form.filter{
	margin: 1em 0;
	}
fieldset{
	padding: 1em;
	}
form input,
form select,
form textarea{
	padding: 2px;
	margin: 2px 2px 2px 0px;
}

.actionbar{
	padding: 5px 0;
	}
.actionbar .span{
margin: 0 5px;
	}
.actionbar a
{
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #d0cba4;
    border-width: 0 1px 1px 0;
    padding: 2px 10px;
    background: #f7f5ee;
    text-decoration: none;
    color: #C35900;
}
.actionbar a:hover
{
    color: #465B52;
    background: #FFF;
}
.actionbar input{
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #d0cba4;
    border-width: 0 1px 1px 0;
    padding: 2px 10px;
    background: #f7f5ee;
    text-decoration: none;
    color: #C35900;
    cursor: pointer;
	}
.actionbar input:hover
{
    color: #465B52;
    background: #FFF;
}

.studscore
{
    font-size: 12px;
    line-height: 22px;
    padding: 5px 15px;
    margin: 5px 15px;
}
.sec, .sec1
    {
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        padding: 2px 0;
        border-bottom: 1px solid #CCC;
    }
    .sec
    {
        color: #FFFFFF;
        text-align: center;
        background-color: #990000;
    }
    .sec1
    {
        color: #990000;
        text-align: center;
        background-color: #FFFFFF;
    }
    .singlescorelist
    {
        float:left;
        margin: 15px;
        padding-left: 10px;
    }
    .singlescoreoverview
    {
        float: left;
        padding-left: 50px;
        margin: 15px;
    }
    .tbRecords .ptitle
    {
        text-align: center;
        background: #465B52;
        color: #fff;
        padding:5px;
        border: 1px solid;
        border-color: #69897b #69897b #1d2522 #69897b;
        font-size: 14px;
    }
    .singlelist .tbRecords
    {
        float: left;
        margin-left: 35px;
        margin-right: 35px;
    }
    .selectitemdiv
    {

        width: auto;
        float:left;
        clear: both;
        margin-bottom: 10px;
    }
    .selectitemdiv .tbRecords
    {
        margin: 0;
    }
    input.makepaper
    {
        width: 70px;
        height: 35px;
        background-color: #465B52;
        color: #fff;
        font-size: 14px;
    }
    input.makepaper:hover
    {
        width: 70px;
        height: 35px;
        background-color: #465B52;
        color: #c35900;
        font-size: 14px;
        cursor: pointer;
    }